//variables
$title-font: 'Red Hat Display', sans-serif;
$primary-text-font: 'Lato', sans-serif;


// Mixins

@mixin fonts_header_menu {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    
    a {
        text-decoration: none;
        color: #000;  
    }  
}

@mixin main-content-article-title {
    font-family: $title-font;
    font-weight: 500;
    font-size: 23px;
    line-height: 38px;
    letter-spacing: 0.1em;
    color: #000;
}

@mixin main-content-article-subtitle {
    font-family: $primary-text-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #7B7B7B;
}

@mixin main-content-text {
    font-family: $primary-text-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #565656;
}



@import "_header";


.wrapper {
    width: 100%;
    margin: 0 auto;

    a {
        text-decoration: none;
        color: #000;  
    }  
    
}


.main__content {


    &__promo-pictures{
        width: 100%;
        max-width: 1440px;
        height: 600px;
        background: url('../images/bg-image.png');
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        margin-bottom: 90px;

    }

    &__promo-pictures-text {
        display: block;
        width: 75%;
        max-width: 850px;
        height: auto;
        font-family: $title-font;
        font-size: 48px;
        font-weight: 600;
        line-height: 64px;
        letter-spacing: 0.05em;
        padding-top: 5%;
        padding-left: 8%;

    }

    &__blog {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        margin-bottom: 90px;
    }

    &__section-title {
        display: block;
        font-family: $title-font;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: 0.05em;
        margin-bottom: 50px;    
        }

    &__blog-article {
        display: flex;
        flex-direction: row;
        gap: 30px;
        

    }


        .article-text-subtitle,
        .article-text-title,
        .article-text {

            display: block;
            
        }

        .article-text-subtitle {
            @include main-content-article-subtitle;
            margin-bottom: 10px;

        }

        .article-text-title {
            @include main-content-article-title;
            max-width: 370px;
            // height: 70px;
            margin-bottom: 10px;
        
        }

        .article-text {
            @include main-content-text;
            width: 100%;
            max-width: 448px;
            // height: 81px;
            
        
            
        }

    .arrow {
        width: 30px;
        height: 12px;
    }    
    
    // .text-arrow:after {
    //     content: '';
    //     width: 24px;
    //     height: 12px;
    //     background: url('../images/Arrow\ 1.png');
    //     position: absolute;
    //     bottom: 60px;
    //     right: 240px;
    //     }

    &__latest-post {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        
    

    }


    .latest-post__header-title {

        font-family: $title-font;
        font-weight: 600;
        font-size: 28px;
        letter-spacing: 0.1em;
        color: #000;

    }

    .latest-post__header-subtitle {
        display: block;
        @include main-content-article-subtitle;
        position: relative;
    }




    .content-item__picture_1 {
        background: url('../images/latest_post_picture_1.png') no-repeat;
        background-position: center;
    }

        .content-item__picture_2 {
        background: url('../images/latest_post_picture_2.png') no-repeat;
        background-position: center;
    }

        .content-item__picture_3 {
        background: url('../images/latest_post_picture_3.png') no-repeat;
        background-position: center;
    }

    .latest-post__subtitle {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin-bottom: 25px;
    }

    .latest-post__title {
        width: auto;
        height: auto;
        font-size: 22px;
        margin-bottom: 20px;
    }



    .latest-post__text {
        width: auto;
        height: auto;
    }



    .most-popular__picture_1 {
        background: url('../images/most_popular_1.png') no-repeat;
        background-position: center;
    }

    .most-popular__picture_2 {
        background: url('../images/most_popular_2.png') no-repeat;
        background-position: center;
    }

}



    .blog__article-picture {
        width: 50%;
        max-width: 570px;
        height: 470px; 
    }

    .article-picture_1 {
        background: url('../images/blog-bg.png') no-repeat;
        background-position: center;
    }

    .article-picture_2 {
        background: url('../images/blog-bg_2.png') no-repeat;
        background-position: center;
    }


    .blog__article-text {
        width: 50%;
        max-width: 570px;
        height: 470px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
            
    .latest-post__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 85px;

    }

    .latest-post__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 50px;
    }



    .latest-post__content-item {
        max-width: 370px;
        height: 500px;
        display: flex;
        flex-direction: column;

    }


    .content-item__picture-holder {
        width: 370px;
        height: 260px;
        margin-bottom: 25px;
    }

    .most-popular__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 55px;

    }


    .most-popular__content-item {
        width: 100%;
        max-width: 570px;
        // height: 500px;
        display: flex;
        flex-direction: column;

    }

    .most-popular__picture-holder {
        width: 100%;
        max-width: 570px;
        height: 260px;
        margin-bottom: 20px;
    }

    .most-popular__subtitle {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin-bottom: 20px;

    }

    .most-popular__title {
        width: 100%;
        max-width: 570px;
        height: auto;
        @include main-content-article-title;
        font-size: 24px;
        margin-bottom: 20px;

    }



    .button__content-item {
        width: 100%;
        display: flex;
    }

    .most-popular__button {
        width: 180px;
        height: 46px;
        color: #fff;
        font-family: $primary-text-font;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        background-color: #565656;
        cursor: pointer;
        letter-spacing: 0.1em;
        margin: 0 auto;
        margin-bottom: 50px;

        
        
    }

    .pre-footer {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
        margin-bottom: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        @include main-content-article-title;

    }

    .pre-footer__colum {
        width: 470px;
    }

    .pre-footer__colum-title {
        display: block;
        margin-bottom: 70px;

    }

    .pre-footer__colum-text {
        display: block;
        max-width: 470px;
        font-size: 19px;
        line-height: 32px;
    }

    .pre-footer__colum-text:first-child {
        margin-bottom: 40px;

    }

    .footer {
        width: 100%;
        max-width: 1440px;
        // height: 300px;
        margin: 0 auto;
        background:#F4F4F4 ;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      
        
        &__contact-holder {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-top: 70px;
            
        }
        &__contacts {
            height: 160px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .footer-title {
            margin-bottom: 30px;
        }

        &__contacts-item {
            @include main-content-article-subtitle;
            color: #000;
            margin-bottom: 14px;

        }

        &__social-icons-holder{
            height: 160px;
            display: flex;
            align-items: center;
            gap: 23px;
            
        }


        &__contacts-item:last-child {
        margin-bottom: 0px;

        }


        &__copyrights {
            @include main-content-article-subtitle;
            font-size: 12px;
            color: #000;
            margin-bottom: 30px;
            margin: 0 auto;
        }

    }

// настройки для разрешения 768

@media screen and (max-width: 768px) {

    .main__content__promo-pictures {
        height: 320px;
        margin-bottom: 70px;
    }

    .main__content__promo-pictures-text {
        font-size: 36px;
        line-height: 50px;
        letter-spacing: 0.05em;
        padding-top: 5%;
        padding-left: 4%;
    }

    .main__content__blog-article {
        margin-bottom: 50px;
        
    }

    .blog__article-picture {
        width: 50%;
        max-width: 340px;
        height: 280px; 

    }

    .blog__article-text {
        width: 50%;
        max-width: 340px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .main__content__blog {
        width: 100%;
        margin: 0px 34px 70px 34px;
        
    }

    .main__content__latest-post {
        width: 100%;
        margin: 0px 34px 30px 34px;

    }

    .latest-post__header {
        width: 100%;
        max-width: 700px;
    }

    .latest-post__content {
        margin-bottom: 65px;
        gap: 30px;

    }

    .latest-post__content-item {
        width: 100%;
        max-width: 700px;
        height: auto;
        display: flex;
        gap: 20px;
        flex-direction: row;

    }

    .latest-post__item-revers {
        flex-flow: row-reverse;
    }

    .content-item__picture-holder {
        width: 50%;
        max-width: 340px;
        height: 240px;
        margin-bottom: 25px;
        
    }

    .content-item__text-holder {
        width: 50%;
        max-width: 340px;

    }

    .most-popular__picture-holder {
        width: 100%;
        max-width: 340px;
        height: 160px;
        margin-bottom: 20px;
    }


    .most-popular__title {
        width: 100%;
        max-width: 340px;
        height: auto;
        @include main-content-article-title;
        font-size: 22px;
        line-height: 36px;

    }

    .pre-footer {
        flex-direction: column;
        justify-content: center;
        margin: 0px 34px 30px 34px;
    }

    .pre-footer__colum {
        width: 100%;
        max-width: 700px;
    }
    .pre-footer__colum-title {
        display: block;
        margin-bottom: 70px;

    }

    .pre-footer__colum-text {
        display: block;
        width: 100%;
        max-width: 700px;
        text-align: end;

    }

    .footer__contact-holder {
        flex-direction: column;
        padding-top: 50px;
    }

    .footer__contacts {
        align-items: center;
    }

    .footer__social-icons-holder {
        justify-content: center;
    }

    
}


@media screen and (max-width: 600px) {

    .main__content__promo-pictures-text {
    width: 100%;
    }
}



// настройки для разрешения 320

@media screen and (max-width: 320px) {

    .main__content__blog {
        width: 100%;
        margin: 0px 10px 70px 10px;
        
    }

    
    .main__content__promo-pictures {
        height: 500px;
        
    }

    .main__content__promo-pictures-text {
        font-size: 30px;
        line-height: 50px;
        letter-spacing: 0.05em;
        padding-top: 5%;
        padding-left: 4%;
    }

    .main__content__section-title {
        text-align: center;
    }

    .main__content__blog-article {
        flex-wrap: wrap;
        justify-content: center;
        
    }


    .wrap-reverse {
        flex-wrap: wrap-reverse;
        margin-bottom: 50px;

    }


    .blog__article-picture {
        width: 100%;
        max-width: 300px;
        height: 250px; 

    }


    .blog__article-text {
        width: 100%;
        max-width: 300px;
        // height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .article-text-subtitle {
            margin-bottom: 30px;
        }    
        
    }

    .main__content__latest-post {
        width: 100%;
        margin: 0px 10px 70px 10px;
    }

    .latest-post__content {
        justify-content: center;
        margin-bottom: 0px;
        gap: 50px;

    }

    .latest-post__content-item {
        width: 100%;
        max-width: 300px;
        gap: 25px;
        flex-direction: column;
        // flex-wrap: wrap;

    }

    .latest-post__header {
        flex-direction: column;
        margin-bottom: 30px;
    }


    .content-item__picture-holder {
        width: 100%;
        max-width: 300px;
        margin-bottom: 0px;
        
    }

    .content-item__text-holder {
        width: 100%;
        max-width: 300px;

    }


    .most-popular__content {
        flex-wrap: wrap;
    }

    .most-popular__button {
        margin-bottom: 0px;
    }

    .pre-footer {
        width: 100%;
        margin: 0px 10px 70px 10px;

    }

    .pre-footer__colum-title {
        font-size: 24px;
        line-height: 40px;
        margin-bottom: 50px;
    }

    .pre-footer__colum-text {
        font-size: 18px;
        text-align: left;
    }

    .footer-title {
        font-size: 32px;
        margin-bottom: 20px;
    }
    
    .footer__contacts {
        justify-content: flex-start;
    }

    .footer__contacts-item {
        font-size: 18px;
    }

    .footer__contacts-item:last-child {
        margin-bottom: 40px;
    }

    .footer__social-icons-holder {
        height: auto;
        margin-bottom: 40px;
    }

    .footer__copyrights {
        font-size: 16px;
        margin-bottom: 50px;
        text-align: center;
        
    }


}
