//Variables

$maine_font: 'Montserrat', sans-serif;


//mixins

@mixin main-slider_content_title {
    font-family: $maine_font;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #F8F1EA;
    text-transform: uppercase   ;
}

@mixin main-slider_buttons-text {
    font-family: $maine_font;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
}

@mixin product-name-text {
    font-family: $maine_font;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

@mixin product-price-text {
    font-family: $maine_font;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

@mixin item_status-text {
    font-family: $maine_font;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
}



.main-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 80px;
}

// .newarrival-wrapper-slider {
//     width: 100%;
//     max-width: 1400px;
//     margin: 0 auto;
//     margin-bottom: 70px;
// }
// swiper defolt styles

html,
body, main {
    position: relative;
    height: 100%;
    }

body {
    background: #ffffff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    }

// .main-slider {
//     width: 100%;
//     max-width: 1400px;
//     padding-top: 80px;
//     margin: 0 auto;
//     margin-bottom: 70px;
// }

.swiper {
    width: 100%;
    height: 700px;
    }

.main-swiper {
    margin-bottom: 70px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    // display: flex;
    // flex-direction: row;
    }

.swiper-slide img {
    display: block;
    width: 100%;
    }

.swiper-slide1 {
    background: url('../images/image_slider_1.png') no-repeat;
    background-position: center;
    position: relative;


}

.swiper-slide2 {
    background: url('../images/image_slider_2.png') no-repeat;
    background-position: center;
    position: relative;

}

.swiper-slide3 {
    background: url('../images/image_slider_3.png') no-repeat;
    background-position: center;
    position: relative;

}


.main-slider_swiper-slide_content-holder-1,
.main-slider_swiper-slide_content-holder-2,
.main-slider_swiper-slide_content-holder-3 {
    width: 400px;
    height: 215px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    top: 120px;
    right: 100px;

}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: #F16A50;
    margin-right: 30px;
    margin-bottom: 50px;

    
}

.main-slider_content-holder_title {
    @include main-slider_content_title;
    display: block;
    margin-bottom: 50px;
}

.main-slider_content-holder_button {
    width: 230px;
    height: 55px;
    background: none;
    border: 1px solid #ffff;
    @include main-slider_buttons-text;
    
}

.main-slider_content-holder_button:hover {
    background: #F16A50;
    border: none;
    cursor: pointer;
    color: #ffff;
}

.newarrival-title-holder {
    text-align: center;
    margin-bottom: 50px;
}

.section-title {
    font-family: $maine_font;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;

}


.swiper_newarrival_item-holder {
    width: 224px;
    height: 437px;
}

.swiper_newarrival_item-holder_sold {
    border: 1px solid #F16A50;
}

.swiper_newarrival_item-holder_sold .newarrival_item_status-text {
    background-color: #F8F1EA;
    color: #000;
}


.swiper-newarrival_wrapper {
    width: 95%;
    height: 437px;
    margin-bottom: 50px;
    position: relative;

}
.swiper-slide_newarrival {
    margin-left: 25px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    content: none;
}

//поворачиваем картинку чтобы использовать одно и тоже изображение 
//в нескольких местах (чтобы не загружать на сайт новые
.swiper-button-next svg {
    transform: rotate(180deg);
}

//меняем цвет в теге path который находится в svg который в dive
// swiper-button-prev при его состоянии hover
.swiper-button-prev:hover svg path,
.swiper-button-next:hover svg path {
    fill: #F16A50;
}


.swiper-button-next {
    position: absolute;
    right: 0px;
}

.swiper-button-prev {
    position: absolute;
    left: 0px;
}

.swiper_newarrival_item-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newarrival_item_status-text {
    display: block;
    width: 60px;
    height: 20px;
    background-color: #F16A50;
    @include item_status-text;
    text-align: center;
    
}

.newarrival_product-name_holder {
    height: 40px;
    text-align: center;
}

.newarrival_product-name_text {
    @include product-name-text;
}

.newarrival_product-price_holder {
    text-align: center;
}
.newarrival_product-price_text {
    @include product-price-text;
}


.newarrival_button-holder {
    text-align: center;
    margin-bottom: 70px;
}
.newarrival_button {
    border: 1px solid #000000;
    color: #000;
}


.swiper_ourpartners-wrapper {
    width: 100%;
    height: 290px;
    background: #F8F1EA;
    margin-bottom: 20px;
    text-align: center;
}

.ourpartners-title {
    display: block;
    padding-top: 70px;
    margin-bottom: 40px;

}