.header {
    width: 100%;
    max-width: 1440px;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%),
        rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(4.5px);
    margin-bottom: 150px;

}

.header__logo-link {
    margin-left: 9%;

}

.header__menu {
    width: 45%;
    max-width: 490px;
    margin-right: 9%;
    display: flex;
    justify-content: space-between;

}

.header__link {
    display: block;
    position: relative;
    text-decoration: none;
    @include header-menu-font-decoration;
}

.header__link:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    display: none;
    background: $white-design-orange-color;
    left: 0px;
    top: 20px;
    opacity: 0.4;

}

.header__link:hover:after {
    display: block;
}


.header__hamburger {
    display: none;
    margin-right: 9%;

}

.hamburger__bar {
    display: block;
    width: 34px;
    height: 2px;
    margin: 5px auto;
    background-color: #000;
}

// responsive menu for 900 px screen

@media screen and (max-width: 900px) {

    .header__menu {
        display: none;
    }

    .header__hamburger {
        display: block;

    }

}

// responsive menu for 1020 px screen

@media screen and (max-width: 1020px) {

    .header__logo-link {
        margin-left: 5%;
    }

    .header__menu {
        margin-right: 5%;
    }

    .header__hamburger {
        margin-right: 5%;
    }


}


// responsive design for 768 px screen

@media screen and (max-width: 768px) {

    .header {
        margin-bottom: 90px;
    }

}