.header {
    width: 100%;
    max-width: 1440px;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%),
        rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(4.5px);
    margin-bottom: 150px;

}

.header_logo-link {
    margin-left: 9%;

}

.header_menu {
    width: 45%;
    max-width: 490px;
    margin-right: 9%;
    display: flex;
    justify-content: space-between;

}

.header_link {
    display: block;
    position: relative;
    text-decoration: none;
    @include header-menu-font-decoration;
}

.header_link:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    display: none;
    background: $white-design-orange-color;
    left: 0px;
    top: 20px;
    opacity: 0.4;

}

.header_link:hover:after {
    display: block;
}


.header_hamburger {
    display: none;
    margin-right: 9%;
}

.hamburger_bar {
    display: block;
    width: 34px;
    height: 2px;
    margin: 5px auto;
    background-color: #000;
}


// responsive menu for 1020 px screen

@media screen and (max-width: 1020px) {

    .header_logo-link {
        margin-left: 5%;
    }

    .header_menu {
        margin-right: 5%;
    }

    .header_hamburger {
        margin-right: 5%;
    }

}


// responsive menu for 900 px screen

@media screen and (max-width: 900px) {

    .header_menu {
        position: fixed;
        left: 0px;
        top: -280%;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.9);
        width: 100%;
        max-width: initial;
        text-align: center;
        transition: top 0.3s, opacity 0.5s ease-in;
        opacity: 0;
    }

    .header_hamburger {
        display: block;
    }

    .header_menu.active {
        left: 0;
        top: 80px;
        opacity: 1;




        
    }

    .header_link {
        margin: 5px 0;
    }

    .header_link {
        font-size: 16px;

    }

    .header_link:hover:after {
        display: none;
    }

}




// responsive design for 768 px screen

@media screen and (max-width: 768px) {

    .header {
        margin-bottom: 90px;
    }

}

// responsive design for 475 px screen

@media screen and (max-width: 475px) {

    .header {
        height: 50px;
        margin-bottom: 50px;
    }

    .header_menu {
        top: 50px;
    }


}