@import "_mixinsvariables";

@import "_header";


.general-text-decoration {
    @include primary-text-font-decoration;
}

.general-title-decoration {
    @include prymary-title-font-decoration;
}

.general-title-green-decoration {
    @include green-italic-title-font-decoration;
}


.general-white-text-decoration {
    @include primary-text-white-font-decoration;

}

.italic-general-white-text {
    font-family: $titels-text-font;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 0.08em;
    color: #ffffff;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    height: 1030px;
    background: url('../images/first-screen-image_bg.png') no-repeat;
    background-position: top center;
    background-size: 100%;
    margin: 0 auto;
    padding-top: 30px;
    position: relative;

}

.wrapper-gradient {
    width: 100%;
    max-width: 1440px;
    height: 440px;
    background: url('../images/gradient-for-first-screen.png');
    position: absolute;
    bottom: 68px;
    left: 0px;

}

.section-wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;

}

.welcome-text_wrapper {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 9%;
    margin-bottom: 150px;

}

.welcome-text_title {
    display: block;
    @include welcome-title-font-decoration;
    margin-bottom: 20px
}

.font-italic {
    @include green-italic-title-font-decoration;
    font-size: 44px;
    line-height: 52px;
}

.welcome-text_text {
    display: block;
    max-width: 440px;
    margin-bottom: 50px;
}

.button-orange {
    display: block;
    position: relative;
    @include button-orange-decoration;
    cursor: pointer;
}

.button-orange:after {

    content: "";
    position: absolute;
    width: 112px;
    height: 13px;
    background-color: $white-design-orange-color;
    opacity: 0.3;
    top: 10px;
    left: 10px;

}

.button-orange:hover {
    color: $white-design-orange-color-hover;
}

.button-orange:hover:after {
    color: $white-design-orange-color-hover;
    opacity: 0.4;

}

.button-orange-big {
    display: block;
    width: 300px;
    height: 90px;
    border: 1px solid #E4E4E4;
    position: relative;
    @include button-orange-decoration;
    cursor: pointer;
    padding: 33px 85px;
}

.button-orange-big:after {
    content: "";
    position: absolute;
    width: 112px;
    height: 13px;
    background-color: $white-design-orange-color;
    opacity: 0.3;
    top: 45px;
    left: 95px;

}

.button-orange-big:hover {
    color: $white-design-orange-color-hover;
    border: 1px solid $white-design-orange-color-hover;
}

.button-orange-big:hover:after {
    color: $white-design-orange-color-hover;
    opacity: 0.4;

}


.intro_wrapper {
    position: relative;
    margin-bottom: 120px;

}

.intro_picture-holder {
    width: 40%;
    max-width: 570px;
    height: 670px;
    background: url('../images/statistic-image_intro_bg.png') no-repeat;
    background-position: center;
    margin-left: 9%;

}

.intro_text-holder {
    width: 53%;
    max-width: 770px;
    min-height: 580px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 45px;
    right: 147px;
    background: rgba(#ffffff, $alpha: 0.9);
    padding: 45px 0px 45px 0px;

}

.intro_text_left-column-holder {
    width: 48%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.left-column_big-numbers {
    text-align: center;
}

.intro_text_right-column-holder {
    width: 52%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.big-numbers_text {
    display: block;
    @include prymary-title-font-decoration;
    font-size: 68px;
    line-height: 72px;
    position: relative;
    margin-bottom: 10px;
}


.big-numbers_text_usd-pict {
    @include prymary-title-font-decoration;
    color: #E4E4E4;
}


.big-numbers_text_green-line {
    position: relative;
}


.big-numbers_text_green-line:after {
    display: block;
    content: "";
    width: 100px;
    height: 1px;
    background: $white-design-green-title-text-color;
    position: absolute;
    top: -45px;
    left: 125px;

}

.right-column-holder_text {
    display: block;
    margin-bottom: 50px;
}


.benefits_wrapper {
    margin-bottom: 120px;

}

.benefits_rows_wraper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0 9% 60px 9%;

}

.benefits_row_cells {
    width: calc(50% - (30px/2));
    max-width: 570px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #E4E4E4;
    padding-top: 50px;


}

.benefits_title_decoration {
    display: block;
    max-width: 485px;
    margin-bottom: 30px;
}


.quote_wrapper {
    margin-bottom: 120px;

}

.quote_information-holder {
    height: 400px;
    background: url(../images/quote-background.png) no-repeat;
    background-position: center;
    margin: 0 9% 0 9%;
    padding: 100px 0 0 160px;
}

.quote_information-holder_main-text {
    width: 70%;
    max-width: 650px;
    display: block;
    font-size: 32px;
    line-height: 46px;
    margin-bottom: 40px;
    position: relative;

}

.quote_information-holder_main-text:before {
    position: absolute;
    content: url('../images/quote-background_icons.png');
    top: -20px;
    left: -55px;

}

.video_wrapper {
    margin-bottom: 120px;

}

.video_information-holder {
    max-width: 970px;
    border: 1px solid #E4E4E4;
    border-radius: 32px;
    margin: 0 16% 60px 16%;
    padding: 31px 70px 31px 30px;
    position: relative;
}



.video_information-holder:before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: 1px solid #E4E4E4;
    left: 1%;
    top: 50%;

}

.video_information-holder:after {
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    border-radius: 17px;
    border: 1px solid #E4E4E4;
    right: 1%;
    top: 50%;

}

.video_youtube {
    width: 100%;
    max-width: 870px;
    height: 539px;
    // width="870"height="539"
    border-radius: 8px;
    border: 1px solid #E4E4E4;
}

.video_text-holder {
    max-width: 970px;
    margin: 0 16% 60px 16%;

}

.video_text_title {
    display: block;
    margin-bottom: 20px;
}

.video_text-general {
    display: block;
    max-width: 885px;
}

.features_wrapper {
    position: relative;
    margin-bottom: 120px;

}

.features_picture-holder {
    width: 42%;
    max-width: 600px;
    height: 540px;
    background: url('../images/features-background-image.png') no-repeat;
    background-position: center;
    margin-left: 9%;

}

.features_text-holder {
    width: 53%;
    max-width: 770px;
    min-height: 450px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 45px;
    right: 147px;
    background: rgba(#ffffff, $alpha: 0.9);
    padding: 75px 0px 0px 70px;

}

.features_text_left-column-holder {
    width: 48%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.features_text_right-column-holder {
    width: 52%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}


.features_text_column-item {
    max-width: 290px;
    margin-bottom: 60px;
}

.features_text_column-item_title {
    @include prymary-title-font-decoration;
    font-size: 24px;
    line-height: 48px;
    display: block;
    margin-bottom: 15px;
}

.features_text_column-item_text {
    display: block;
    max-width: 290px;
    line-height: 26px;
}


.reviews_wrapper {
    position: relative;
    margin-bottom: 100px;

}

.reviews_text-holder {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 0 9% 60px 9%;
}

.reviews_picture-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0 9% 0 9%;
}

.reviews_text-general {
    display: block;
    max-width: 400px;
}

.picture-holder_item {
    max-width: 370px;
    min-height: 340px;
    background-position: center;

}

.picture-holder_item_1 {
    background: url(../images/reviews_pict_1.png) no-repeat;

}

.picture-holder_item_2 {
    background: url(../images/reviews_pict_2.png) no-repeat;

}

.picture-holder_item_3 {
    background: url(../images/reviews_pict_3.png) no-repeat;

}

.picture-holder_item_gradient {
    background: url(../images/overlay.png) no-repeat;
    max-width: 370px;
    min-height: 340px;
    background-position: center;
    padding-top: 30px;
    padding-left: 40px;
    opacity: 0.8;

}

.picture-holder_item_text {
    display: block;
    max-width: 290px;
    min-height: 235px;
    margin-bottom: 25px;

}

.contact_wrapper {
    margin-bottom: 120px;

}

.contact_information-holder {
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #E4E4E4;
    margin: 0 9% 100px 9%;
}

.contact_column-holder {
    width: 50%;
    max-width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact_column-holder_title {
    display: block;
    margin-bottom: 30px;
}

.contact_column-holder_text {
    display: block;
    max-width: 470px;
}

.contact_form {
    margin-bottom: 40px;
}

.contact_form_item {
    height: 70px;
    max-width: 470px;
    border-bottom: 1px solid #E4E4E4;
    display: flex;
    justify-content: space-between;
    align-items: end;


}

.contact_form_item_label {
    @include primary-text-font-decoration;
    font-style: italic;
    font-weight: 400;
    line-height: 28px;
}

.input-field {
    border: none;
    height: 29px;
    max-width: 370px;
    font-size: 18px;
}

.input-field:focus-visible {
    outline: 1px solid #E4E4E4;

}

.footer_wrapper {
    margin-bottom: 120px;

}

.footer_items-holder {
    min-height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #E4E4E4;
    margin: 0 9% 0 9%;
}

.footer_general-text {
    @include primary-text-font-decoration;
    font-size: 14px;
    opacity: 0.6;

}

.footer_bold-text {
    @include primary-text-font-decoration;
    font-size: 14px;
    font-weight: 400;

}

// responsive design for 1280 px screen

@media screen and (max-width: 1280px) {

    .video_youtube {
        height: 477px;
    }

}

// responsive design for 1200 px screen

@media screen and (max-width: 1200px) {
    .features_text-holder {
        padding: 40px 0px 0px 30px;
    }

    .reviews_text-holder {
        align-items: center;
        text-align: center;
        gap: 30px;
    }
}

// responsive design for 1020 px screen

@media screen and (max-width: 1020px) {

    .welcome-text_wrapper,
    .quote_wrapper,
    .video_wrapper,
    .features_wrapper {
        margin-bottom: 100px;
    }


    .welcome-text_wrapper {
        width: 60%;
        margin-left: 5%;

    }

    .welcome-text_title {
        font-size: 38px;
        line-height: 48px;
    }

    .intro_picture-holder {
        width: 50%;
        margin-left: 5%;
    }


    .intro_text-holder {
        width: 55%;
        padding: 15px 0px 15px 0px;
    }

    .big-numbers_text {
        font-size: 60px;
        line-height: 68px;
    }

    .intro_wrapper {
        margin-bottom: 60px;
    }


    .benefits_rows_wraper {
        gap: 20px;
        margin: 0 5% 50px 5%;
    }


    .quote_information-holder {
        margin: 0 5% 0 5%;
        padding: 60px 0 0 90px;
    }

    .quote_information-holder_main-text {
        width: 90%;
        font-size: 28px;
        margin-bottom: 30px;
    }

    .video_youtube {
        height: 443px;
    }

    .video_information-holder {
        margin: 0 9% 50px 9%;
        padding: 17px 45px 17px 20px;
    }

    .video_text-holder {
        max-width: 970px;
        margin: 0 9% 40px 9%;

    }

    .features_picture-holder {
        width: 50%;
        margin-left: 5%;
    }

    .reviews_wrapper {
        margin-bottom: 60px;
    }

    .reviews_text-holder {
        margin: 0 5% 40px 5%;
    }

    .reviews_picture-holder {
        margin: 0 5% 0 5%;
    }

    .contact_information-holder {
        margin: 0 5% 60px 5%;
    }

    .footer_items-holder {
        margin: 0 5% 0 5%;

    }

}

// responsive design for 850 px screen

@media screen and (max-width: 850px) {

    .video_youtube {
        height: 385px;
    }

}


// responsive design for 768 px screen

@media screen and (max-width: 768px) {

    .quote_wrapper,
    .benefits_wrapper,
    .video_wrapper,
    .features_wrapper,
    .contact_wrapper {
        margin-bottom: 50px;
    }

    .welcome-text_wrapper {
        width: 75%;
        margin-bottom: 80px;
    }

    .welcome-text_title,
    .font-italic {
        font-size: 34px;
        line-height: 42px;
    }

    .intro_wrapper {
        position: static;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
    }

    .intro_picture-holder {
        width: 100%;
        max-width: 768px;
        height: 300px;
        margin: 0 5% 0 5%;

    }

    .intro_text-holder {
        width: 100%;
        min-height: auto;
        position: static;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 5% 30px 5%;
    }

    .intro_text_left-column-holder {
        width: 100%;
        max-width: 768px;
        flex-direction: row;
    }

    .intro_text_right-column-holder {
        width: 100%;
        max-width: 768px;

    }

    .right-column-holder_text {
        margin-bottom: 30px;
    }

    .intro_button-orange {
        align-self: center;
    }

    .big-numbers_text_green-line:after {
        display: none;

    }

    .benefits_rows_wraper {
        margin-bottom: 30px;
    }

    .general-title-decoration,
    .general-title-green-decoration {
        font-size: 32px;
    }

    .benefits_title_decoration {
        margin-bottom: 15px;
    }

    .benefits_rows_wraper .general-title-green-decoration {
        font-size: 32px;
    }

    .benefits_row_cells {
        padding-top: 15px;
    }


    .quote_information-holder {
        margin: 0 5% 0 5%;
        padding: 30px 0 0 60px;
        height: 320px;
    }

    .quote_information-holder_main-text {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .video_youtube {
        height: 345px;
    }

    .video_text-holder {
        text-align: center;
    }

    .features_wrapper {
        position: static;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 50px;
    }

    .features_picture-holder {
        width: 100%;
        max-width: 768px;
        height: 200px;
        margin: 0 5% 30px 5%;

    }

    .features_text-holder {
        position: static;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 768px;
        min-height: 450px;
        padding: 0px;
        margin: 0 5% 0 5%;

    }

    .features_text_left-column-holder,
    .features_text_right-column-holder {
        align-items: center;
        text-align: center;
        margin-bottom: 15px;
    }

    .features_text_column-item {
        max-width: 350px;
        margin-bottom: 15px;
    }

    .features_text_column-item_title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .contact_information-holder {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact_column-holder {
        width: 100%;
        max-width: 768px;
        align-items: center;

    }

}

// responsive design for 475 px screen


@media screen and (max-width: 475px) {

    .benefits_rows_wraper {
        flex-direction: column;
    }

    .general-title-decoration,
    .general-title-green-decoration {
        font-size: 28px;
    }


    .benefits_row_cells {
        width: 100%;
        min-height: auto;
        text-align: center;

    }

    .quote_information-holder_main-text {
        font-size: 20px;
        line-height: 30px;
    }

    .quote_information-holder_author-name {
        font-size: 18px;
    }

    .features_wrapper {
        margin-bottom: 30px;
    }

    .features_text_left-column-holder,
    .features_text_right-column-holder {
        width: 100%;
    }

    .picture-holder_item_gradient {
        padding-top: 25px;
        padding-left: 15px;
    }

    .video_youtube {
        height: 200px;
    }

    .footer_items-holder {
        flex-direction: column;

    }

}


// responsive design for 320 px screen


@media screen and (max-width: 360px) {

    .welcome-text_title {
        font-size: 32px;
        line-height: 46px;
    }


    .welcome-text_wrapper {
        text-align: center;
        width: 90%;
        margin-bottom: 50px;

    }

    .welcome-text_text {
        margin-bottom: 30px;
    }

    .welcome-text_button {
        width: 100%;
        margin: 0 5% 0 5%;
        display: flex;
        justify-content: center;
    }

    .big-numbers_text {
        font-size: 48px;
        line-height: 52px;
    }

    .general-text-decoration {
        font-size: 14px;
    }

    .video_youtube {
        height: 120px;
    }

    .intro_wrapper {
        margin-bottom: 30px;
    }

    .intro_text-holder {
        margin-bottom: 10px;
    }

    .features_picture-holder {
        height: 100px;

    }




}