@import "_mixinsvariables";

@import "_header";


.general-text-decoration {
    @include primary-text-font-decoration;
}

.general-title-decoration {
    @include prymary-title-font-decoration;
}

.general-title-green-decoration {
    @include green-italic-title-font-decoration;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    height: 1030px;
    background: url('../images/first-screen-image_bg.png') no-repeat;
    background-position: top center;
    background-size: 100%;
    margin: 0 auto;
    padding-top: 30px;

}

.welcome-text_wrapper {
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 9%;
    margin-bottom: 150px;

}

.welcome-text_title {
    display: block;
    @include welcome-title-font-decoration;
    margin-bottom: 20px
}

.font-italic {
    @include green-italic-title-font-decoration;
    font-size: 44px;
    line-height: 52px;
}

.welcome-text_text {
    display: block;
    max-width: 440px;
    margin-bottom: 50px;
}

.button-orange {
    display: block;
    position: relative;
    @include button-orange-decoration;
    cursor: pointer;
}

.button-orange:after {
    content: "";
    position: absolute;
    width: 112px;
    height: 13px;
    background-color: $white-design-orange-color;
    opacity: 0.3;
    top: 10px;
    left: 10px;

}

.button-orange:hover {
    color: $white-design-orange-color-hover;
}

.button-orange:hover:after {
    color: $white-design-orange-color-hover;
    opacity: 0.4;

}

.intro_wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 120px;

}

.intro_picture-holder {
    width: 40%;
    max-width: 570px;
    height: 670px;
    background: url('../images/statistic-image_intro_bg.png') no-repeat;
    background-position: center;
    margin-left: 9%;

}

.intro_text-holder {
    width: 53%;
    max-width: 770px;
    height: 580px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 45px;
    right: 147px;
    background: rgba(#ffffff, $alpha: 0.9);
    padding: 45px 0px 45px 0px;

}

.intro_text_left-column-holder {
    width: 48%;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.left-column_big-numbers {
    text-align: center;
}

.intro_text_right-column-holder {
    width: 52%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.big-numbers_text {
    // display: block;
    @include prymary-title-font-decoration;
    font-size: 68px;
    line-height: 72px;
    position: relative;
}

// .big-numbers_text_usd-pict:before {
//     @include prymary-title-font-decoration;
//     display: block;
//     content: "$";
//     color: #E4E4E4;
//     position: absolute;

// }


.big-numbers_text_usd-pict {
    @include prymary-title-font-decoration;
    color: #E4E4E4;
}


.big-numbers_text_description {
    display: block;
    position: relative;
}


.text_description_green-line:after {
    display: block;
    content: "";
    width: 100px;
    height: 1px;
    background: $white-design-green-title-text-color;
    position: absolute;
    top: 65px;
    left: 125px;

}

.right-column-holder_text {
    display: block;
    margin-bottom: 50px;
}


.benefits_wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 120px;

}

.benefits_rows_wraper {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0 9% 60px 9%;
}

.benefits_row_cells {
    width: calc(50% - (30px/2));
    max-width: 570px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #E4E4E4;
    padding-top: 50px;

}

.benefits_title_decoration {
    display: block;
    max-width: 485px;
    margin-bottom: 30px;
}


.quote_wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 120px;

}

.quote_information-holder {
    height: 400px;
    background: url(../images/quote-background.png) no-repeat;
    background-position: center;
    margin: 0 9% 0 9%;
}

