.intro_products_slider-holder {
    width: 80%;
    height: 450px;
    max-width: 900px;
    margin: 0px auto;
    background-color: #ffff;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    overflow: hidden;
    padding: 0 15px;

}




.slider-track {
    display: flex;
    background-color: #3C7F;
    // gap: 20px;
    // transition: 0.2s
}

.intro-products_slider_buttons-holder {
    text-align: center;
}

.slider-track_item {
    min-width: 297px;
    height: 400px;
}

.slider-track_item:nth-child(3n+1) {
    background-color: red;
}

.slider-track_item:nth-child(3n+2) {
    background-color: green;
}

.slider-track_item:nth-child(3n+3) {
    background-color: blue;
}


//experements with changing of width

@media screen and (max-width: 1200px) {

    .intro-products_slider_holder {
        width: 900px;
    }



    // .slider-track_item {
    //     min-width: 200px;

    // }

}