// fonts and other main settings

//variables

//fonts
$header-menu-text-font: 'Source Sans Pro',
sans-serif;
$titels-text-font: 'Montserrat',
sans-serif;
$primary-text-font: 'Open Sans',
sans-serif;


// //colors & gradients

$welcome-slide-gradient: linear-gradient(243.43deg, #7E5AFF 16.9%, #55B7FF 83.27%);
$blue-rectangl-color: #55B7FF;
$violet-rectangl-color: #7E5AFF;
$news-slide-gradient: linear-gradient(237.1deg, #24CCFA 11.16%, #3C7FD4 89.18%);
$footer-slide-gradient: linear-gradient(251.06deg, #7E5AFF -2.19%, #55B7FF 103.21%);
$title-font-color: #2C4058;




//mixins

@mixin header-menu-font-settings {
    font-family: $header-menu-text-font;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

}


@mixin title-font-settings {
    font-family: $titels-text-font;
    font-size: 44px;
    font-weight: 700;
    line-height: 54px;
    color: $title-font-color;
    text-transform: uppercase;
}

@mixin subtitle-font-settings {
    font-family: $titels-text-font;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    color: $title-font-color;
    text-transform: uppercase;
}